body {
  background-color: rgb(32, 32, 32);
}

h2 {
  color: rgb(195, 199, 199);
}

h3 {
  color: rgb(195, 199, 199);
}

p {
  color: rgb(195, 199, 199);
}

div {
  color: rgb(195, 199, 199);
}

li {
  color: rgb(195, 199, 199);
}

a {
  color: rgb(195, 199, 199);
}

form {
  color: rgb(195, 199, 199);
}
